<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OV_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OV_Launcher.Properties.Settings>
            <setting name="ResimYolu" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu2" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu3" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu4" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResimYolu5" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu6" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu8" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu9" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu10" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu11" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu13" serializeAs="String">
                <value />
            </setting>
            <setting name="ResimYolu14" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowUpdateNotifications" serializeAs="String">
                <value>False</value>
            </setting>
        </OV_Launcher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
